// @import "./src/styles/bootstrap/scss/bootstrap";

$body-background: white;
$brand-primary: #999;
$primary-font-size: 11pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$card-class: "movie";

$sidebar-class: "sidebar-menu";
$sidebar-font-size: 15px;
$sidebar-background-color: #bb8c4d; //#faebd7;
$green: #008a00;