<hr>
<section class="search-show">
  <h1>Show Finder</h1>
  <p>
    We are glad you're here! On this website you can easily find out information about your favorite movies & TV shows in the United States.
    Browse through the whole catalog. Find out what is currently trending and most-watched.
    Search TV shows by keyword and fetch information about them
  </p>
  <form action="/search" method="POST" class="search-show-form">
    <label for="searchTerm">
      Search TV Show
      <input type="text" name="searchTerm" placeholder="Search Show" value="{{query}}" class="full-width-input" id="searchTerm" required>
    </label>

    <input type="submit" class="btn" value="Search"/>
  </form>
</section>
<hr>